* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(/assets/images/CIELO.png);
}
.eveeImg {
  margin-left: 75%;
  width: 75px;
  height: 75px;
  position: absolute;
}
h4 {
  margin-top: 20px;
  margin-left: 10px;
}
p {
  margin-top: 10px;
  padding: 5%;
}
.resp {
  margin-left: 25%;
  margin-bottom: 13px;
  text-align: center;
}
.respuestas {
  display: inline-block;
  text-align: center;
  margin-left: 25%;
  width: 200px;
  height: 200px;
}
.false, .true {
  border: 1px solid #000;
  overflow: auto;
}
